@import './../../Assets/SASS/override-variables.scss';

.navbar.fixed-top {
	z-index: 1;
}

.cart-mobile {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
	p {
		position: relative;
		margin: 0;

		.cart_quantity {
			width: 20px;
			min-height: 20px;
			background: $accent-primary;
			display: block;
			position: absolute;
			right: -1em;
			top: -0.5em;
			text-align: center;
			cursor: pointer;
			font-size: 0.9em;
		}
	}
}

@media (max-width: 992px) {
	.cart-mobile {
		position: relative;
	}
}
