$base-color: #ffffff;
$base-color-bg: #feda6c;
$radius: 25px 25px 25px 25px;
$base-color-border: #bcc2d0;
$base-color-text: #000000;

.item {
	flex-basis: 13.9%;
	background-color: $base-color;
	box-sizing: border-box;
	cursor: pointer;

	& > div {
		& + h6 {
			color: $base-color-text;
		}
	}
	&:hover {
		box-shadow: -2px 3px 11px 0px rgba(188, 194, 208, 1);
		background-color: $base-color-bg;

		& > div {
			// background-color: $base-color;
		}
	}
	&__active {
		background-color: $base-color-bg;
		& > div {
			// background-color: $base-color;
			& + h6 {
				color: $base-color !important;
			}
		}
	}

	& > div {
	}
}
