@import '../../../../Assets/SASS/override-variables.scss';

.item {
	flex-basis: 13.9%;
	background-color: $bg-white;
	box-sizing: border-box;
	margin-bottom: 1em;
	cursor: pointer;

	& > div {
		& + h6 {
			color: $text-primary;
		}
	}
	&:hover {
		box-shadow: -2px 3px 11px 0px rgba(188, 194, 208, 1);
		background-color: $accent-primary;
	}
	&__active {
		background-color: $accent-primary;
		& > div {
			& + h6 {
				color: $bg-white !important;
			}
		}
	}

	& > div {
	}
}

@media (max-width: 576px) {
	.item {
		flex-basis: 30%;
	}
}
