$base-color: #ffffff;
$base-color-bg: #feda6c;
$radius: 25px 25px 25px 25px;
$base-color-border: #bcc2d0;

.item {
	flex-basis: 12.5%;
	background-color: $base-color;
	border-radius: $radius;
	cursor: pointer;
	&:hover {
		box-shadow: -2px 3px 11px 0px rgba(188, 194, 208, 1);
		background-color: $base-color-bg;

		& > div {
			background-color: $base-color;
		}
	}
	&__active {
		background-color: $base-color-bg;
		& > div {
			background-color: $base-color;
		}
	}

	& > div {
		border: 1px solid $base-color-border;
		border-radius: $radius;
	}
}
