.layout {
  .nav {
    width: 100px;
    height: 100vh;
    outline: 1px dashed;
  }
  .main {
    height: 100vh;
    flex: 1;
    outline: 1px dashed;
    background-color: #fafafa;
  }
  .sidebar {
    width: 420px;
    height: 100vh;
    flex-grow: 0;
    outline: 1px dashed;
    -webkit-transition: width 0.5s 0s ease;
    -moz-transition: width 0.5s 0s ease;
    -o-transition: width 0.5s 0s ease;
    transition: width 0.5s 0s ease;
  }
}

.active {
  background-color: red;
}
