.layout {
  .nav {
    width: 100px;
    height: 100vh;
    outline: 1px dashed;
  }
  .main {
    height: 100vh;
    flex: 1;
    outline: 1px dashed;
    background-color: #fafafa;
    transition: width 1s ease-out;
  }
  .sidebar {
    width: 420px;
    height: 100vh;
    flex-grow: 0;
    outline: 1px dashed;
    transition: width 1s ease-out;
  }
}

.active {
  background-color: red;
}
