.floatCart {
	position: fixed;
	top: 0;
	right: 0px;
	width: 500px;
	height: 100%;
	background-color: #ffffff;
	box-sizing: border-box;
	border: 1px solid red;
	-webkit-transition: right 0.2s;
	transition: right 0.2s;
}
