$base-color: #ffffff;

.floatCart {
	position: relative;
	background-color: $base-color;
	box-sizing: border-box;
	-webkit-transition: right 0.2s;
	transition: right 0.2s;
	overflow-y: auto;
}
