$base-color: #ffffff;
$base-color-active: #e7201f;
$base-color-text: #bcc2d0;
.navigation {
	background-color: $base-color;
	height: 100%;
	text-transform: capitalize;
	svg {
		fill: $base-color-text;
	}
}

.menuitemActive {
	background-color: $base-color-active;
	border-radius: 20px;
	box-shadow: 2px 0px 39px -14px rgba(255, 35, 81, 0.57);

	svg {
		fill: $base-color;
	}

	p {
		color: $base-color;
	}
}
