$accent-A: #ffffff;
$accent-B: #e7201f;
$accent-C: #000000;

body.bills {
	background: $accent-B !important;
}
.order_receipt .bill_header,
.order_receipt .border-top,
.order_receipt .order_total {
	border: 2px dashed $accent-C;
	padding: 1em;
	box-sizing: border-box;
}
.bill_header {
	background-color: $accent-B;
	color: $accent-A;
}
.order_total {
	margin-bottom: 1em;
}
