@import '../../Assets/SASS/override-variables.scss';

.order_receipt .bill_header,
.order_receipt .border-top,
.order_receipt .order_total {
  border: 2px dashed $bg-primary;
  padding: 1em;
  box-sizing: border-box;
}
.bill_header {
  background-color: $bg-primary;
  color: $bg-white;
}
.order_total {
  margin-bottom: 1em;
}
