$base-color: #fdf3da;

.photoPlaceholder {
	display: flex;
	&.circle {
		background-color: $base-color;
		border-radius: 100%;
		box-sizing: border-box;
	}
	&.square {
		background-color: $base-color;
		border-radius: 19%;
		padding: 2%;
		box-sizing: border-box;
		min-width: 100px;

		// & > img {
		// 	margin: auto;
		// 	max-width: 40px;
		// 	height: auto;
		// 	width: 100%;
		// }
	}
}

.photo {
	margin: auto;
	max-width: 100%;
	height: auto;

	&.xsmall {
		max-width: 35px;
		height: auto;
	}

	&.small {
		max-width: 85px;
		height: auto;
	}

	&.medium {
		max-width: 100px;
		height: auto;
	}
	width: 100%;
	height: auto;
	margin: auto;
}
