$base-color: #000000;
$base-color-bg: #ffffff;
.search {
	&:focus {
		border: 0;
	}
	outline: 0;
	color: $base-color;
	font-size: 1.25rem;
	font-weight: 700;

	option {
		background-color: $base-color-bg;
		color: $base-color;
		border: 0;
		outline: none;
		font-size: 1.25rem;
		font-weight: 700;
	}
}
