@import '../../../Assets/SASS/override-variables.scss';

.search {
	&:focus {
		border: 0;
	}
	outline: 0;
	color: $text-primary;
	font-size: 1.25rem;
	font-weight: 700;

	option {
		background-color: $bg-white;
		color: $text-primary;
		border: 0;
		outline: none;
		font-size: 1.25rem;
		font-weight: 700;
	}
}
