$base-color-bg: #ffffff;
.search {
	border-radius: 22px;
	background-color: $base-color-bg;
	& > span {
		border: none;
		background-color: $base-color-bg;
	}
	input {
		background-color: $base-color-bg;
		border: none;
	}
}
