$base-color: #ffffff;
$base-color-btn: #ff2351;

@-webkit-keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.product {
	border-radius: 19px;
	background-color: $base-color;
	width: 23%;
	margin: 1%;

	&:hover {
		box-shadow: -2px 3px 11px 0px rgba(188, 194, 208, 1);
		cursor: pointer;
	}

	button {
		background-color: $base-color-btn;
		animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
		span {
			color: $base-color;
			text-transform: uppercase;
		}
	}
}
