@import '../../../Assets/SASS/override-variables.scss';

.checkout {
	position: relative;
	width: 100%;
	background-color: $bg-white;
	border-top: 1px dashed;
	color: $text-secondary;

	tbody {
		color: $text-secondary;
	}

	.cartTotal {
		position: relative;
		text-align: center;

		button {
			h4 {
				color: $bg-white;
				background-color: $primary;
				box-shadow: 2px 0px 39px -14px rgba($primary, 0.57);
				line-height: 4rem;

				span {
					color: $bg-white;

					img {
						width: 35px;
						height: 35px;
					}
				}
			}
		}
	}
}

@media (max-width: 576px) {
	.cartTotal h4 {
		line-height: 2.5rem;
		font-size: 100%;
	}
}
