$base-color-bg: #ffffff;
$base-color-red: #ff2351;
$base-color-text: #bcc2d0;

.checkout {
	position: relative;
	width: 100%;
	background-color: $base-color-bg;
	border-top: 1px dashed;
	color: $base-color-text;

	tbody {
		color: $base-color-text;
	}

	.cartTotal {
		position: relative;
		text-align: center;

		button {
			h4 {
				color: $base-color-bg;
				background-color: $base-color-red;
				box-shadow: 2px 0px 39px -14px rgba(255, 35, 81, 0.57);
				-webkit-box-shadow: 2px 0px 39px -14px rgba(255, 35, 81, 0.57);
				-moz-box-shadow: 2px 0px 39px -14px rgba(255, 35, 81, 0.57);
				line-height: 4rem;

				span {
					color: $base-color-bg;

					img {
						width: 35px;
						height: 35px;
					}
				}
			}
		}
	}
}

@media (max-width: 576px) {
	.cartTotal h4 {
		line-height: 2.5rem;
		font-size: 100%;
	}
}
